/* mainz.css */
.flex_b {
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
    color:white;
    box-sizing: content-box;
    
    background-color:red;

  
}
.zright {
    background-image: url("./images/special-menu3.jpg");

}
.zcenter {
   
    background-image: url("./images/special-menu2.jpg");
  
}
.zleft { 
    background-image: url("./images/special-menu1.jpg");
}
.zright,
.zleft, .zcenter { 
width: 500px;
height: 600px;
/* display: flex; */
justify-content: space-evenly;
align-items: center;
align-items:center ;
   
}

.zbut2 { color: white;
    font-size:200%;
    font-weight: 700;
    box-sizing: border-box;
    border :50px solid orange;
            border-radius: 50%;
            background-color: orange;
            align-self: center;
    
          
}
.zh1 { font-size: xx-large; font-weight: 700;
 }