* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.firstdiv {
  background-image: url('images/hero_2.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 0%, 100% 80.25%, 0% 100%, 0% 0%);


}

.firstdiv h1,
a {
  color: white;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:focus {
  color: orange;

}

/* End Hassan CSS */

/* Start zizette css */
.zizette {
  font-size: large;
}

/* specialc centered  for the restaurant */
.zpara0 {
  width: auto;
  box-sizing: border-box;
  padding: 0 20em;
  line-height: 1.5em;
  text-align: center;
  color: rgb(143, 139, 139);
}

.zh1,
zh2,
zh3 {
  text-align: center;
}

zpara {
  color: rgb(143, 139, 139);
  text-align: justify;
  font-size: normal;
  line-height: 1.5em;
  padding: 0 40em;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2 fr 1 fr 2fr;
  grid-gap: 1px;
  /* place-content: center; */
  place-items: center;
  background-color: whitesmoke;
}

#zimg1 {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 70%;
  height: auto;
  padding-left: 300px;
}

#zimg2 {
  width: 50%;
  height: auto;
}

#zimg3 {
  width: 50%;
  height: auto;
}

#zimg4 {
  grid-row: 1/3;
  grid-column: 3/3;
  width: 70%;
  height: auto;
  padding-right: 300px;

}

.zhr {
  color: goldenrod;
  clip-path: 0 0, 0 0, 0 80%, 0 80%;
}

.zsp_Menu_FlCo {
  display: flex;
  /* flex-flow: row nowrap;  */
  align-items: center;
  justify-content: center;
 
  margin: 2%;
}




#zimgs9,
#zimgs7,
#zimgs8 {
  width: 100%;
  height: auto;
  /* inline-size: 500px;  */
  background-position-X: center;
  background-position-Y: center;
  border: 2px solid #f6f7f6  ;
  margin: 1%;
}

.zdiv {
  filter: none;
  color: white;
  font-size: 24x;
  align-self: center;
  background-color: color-dodge(200%);
}

.zhr {
  width: 300px;
  height: 3px;
  margin-left: 40%;
  background-color: rgb(244, 177, 7);
}

.zbut1 {
  /* flex:3% 3% ; */
  filter: none;
  color: white;
  font-size:24px;
  font-weight: 600;
  background-color: orange;
  clip-path: circle(40%);
  border: 35px solid orange;
  margin: 40%;
  
}
#zimgs9 {
  background-image: url(./images/special-menu1.jpg);
  
  filter: brightness(88%);
}

#zimgs7 {
  background-image: url(./images/special-menu2.jpg);
}

#zimgs8 {
  background-image: url(images/special-menu3.jpg);
}

/*********BLOG   */
.z_bgrdblog {
  width: max-content;
  height:max-content;
  width: auto;
  background-color: whitesmoke;
  margin: 0 120ev 0 120ev;
  /* clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%); */
  clip-path: polygon(50% 4.39%, 100% 0%, 100% 92.25%, 0% 100%, 0% 7.27%);
  background-color: #f6f7f6
  
 

}

.flex_c {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  margin: 0 100ev 0 100ev;
 
}

.zimgs5,
.zimgs6 {
  border: 2px solid #f6f7f6  ;
  transform: scalex(-1);
  width: auto;
  height: auto;
  /* height: 50%; */
  flex-grow: 1;
  margin:
    50px 150px 20px 150px;
  filter: brightness(70%);
}

.zbut2 {
  font-weight: bold;
  font-size: large;
  color: white;
  background-color: orange;
  border-color: orange;
}

.zcaption {
  color: orange;
  font-weight: 700;
}

/* mainz.css */


.right {
  padding: 50px 300px 0px 0px;
}

.left {
  float: left;
  padding: 50px 0px 0px 300px;
}

.right,
.left {
  flex: 1%;

}

#zi_menu1 {
  height: 30vh;
  width: 90%;
  border: 1cap;
}

@media screen and (max-width:588px) {
  .flex_c {
    flex-direction: column;
  }

  .zsp_Menu_FlCo {
    flex-direction: column;
  }
}