.firstdiv {
  background-image: url('images/hero_2.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  background-size: cover;
  display: flex;
  
  /

}

.firstdivstyle {
  position: absolute;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
}

.firstdiv h1,
a {
  color: white;
}


a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:pink;
  background-color: transparent;
  text-decoration: underline;
}

a:focus {
  color: orange;
  
}

